<div class="post blog-single-post">
  <app-spinner [isRunning]="isRequesting"></app-spinner>
  <article class="post post-large blog-single-post" *ngIf="gist">
    <div class="post-date">
      <span class="day"> {{ gist.created_at | date:'d' }} </span>
      <span class="month">{{ gist.created_at | date:'MMM' }}</span>
    </div>
    <div class="post-content">
      <h2>{{gist.description}}</h2>
      <!-- Content Raw -->
      <app-raw-content [rawUrl]="getRawUrl(gist)" [truncate]="false"></app-raw-content>
      <!-- /Content Raw -->
      <div class="post-meta">
        <span>
        <i class="fa fa-user"></i>
        By <a href="{{ gist.owner.html_url }}" target="_blank">{{ gist.owner.login }}</a>
        </span>
        <span>
        <i class="fa fa-comments"></i>
        <a href="{{ gist.comments_url }}" target="_blank">{{ gist.comments }} Comments</a>
        </span>
      </div>
      <div class="post-block post-author clearfix">
        <h3 class="heading-primary"><i class="fa fa-user"></i>Author</h3>
        <div class="img-thumbnail">
          <a href="blog-post.html">
          <img src="{{ gist.owner.avatar_url }}" alt="avatar">
          </a>
        </div>
        <p><strong class="name"><a href="{{ gist.owner.html_url }}" target="_blank">{{ gist.owner.login }}</a></strong></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius
          vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat,
          felis enim ornare nisi, vitae mattis nulla ante id dui.
        </p>
      </div>
      <div class="post-block post-comments clearfix">
        <h3 class="heading-primary"><i class="fa fa-comments"></i>Comments ({{ gist.comments }})</h3>
        <app-comment [commentUrl]="gist.comments_url"></app-comment>
      </div>
    </div>
  </article>
</div>
